button{
display: block;
margin: 20px auto;
background: crimson;
color: white;
border:0;
padding: 6px 10px;


}
/* .xxx is class .popup-wraapper --> */

/* 1First popup wrapper cfovers all the 100% screen and then on top of that pop up comdes up --> */
.popup-wrapper{
    /* 0.5 below is the transprant level its b/w 0-1 --> */
background: rgba(0,0,0,0.5);
position: fixed;
top: 0;
left: 0;
    /* 100% windows measn cover all of the window --> */

width: 100%;
height: 100%;
    /* it will not let this popup wrerapper to comes up at the start of the page */

display: none;


}

.popup{

font-family: arial;
text-align: central;
width: 100%;
max-width: 300px;
margin: 10% auto;
padding: 20px;
background: white;
position: relative;



}

    /* Ancha tag popup style--> */

.popup a{

    background: crimson;
    color: white;
    text-decoration: none;
    padding: 6px 10px;
}





.popup-close{
      /* absolutely positioned relatvie to .popup position --> */

    position: absolute;
    top: 5px;
    right: 8px;
    cursor: pointer;
}

form{

max-width: 200px;
margin: 40px auto;
background: white;
padding: 10px;

}


    /* will apply error and succes class to input field using set attribite metiond in the Javascript
 */

.success{
 border: 2px solid limegreen;



}

.error{

    border: 2px solid crimson;
}





input{
    display: block;
margin: 10px auto;
padding: 4px;

}







