body{
    background: #eeedec;
    letter-spacing: 0.2em;
    font-size: 0.8em;
}

/* this container will be applied to the main Div in the html section--> */

.container{
    max-width: 400px;

}
.icon{



    
}