.container{
   width:100%;
  
   font-weight: l;
   text-decoration: none;
    background: #f3f3d5;
color: rgb(14, 12, 12);
;
margin-right: auto;
    margin-left: auto;
    padding: auto;
    font-family: 'Montserrat', sans-serif;  

    }

        .btn6{
            max-width: 1402px;
            font-size: 3.2rem;
           text-align:left ;
        color: rgb(14, 12, 12);
        margin-bottom: 0%;
        padding-top: 7%;
        
        font-family: "Quando", serif;
        
              }
        
            body {
                font-family: "Open Sans", sans-serif;
                background-color: #f3f3d5;
                margin-bottom: 10%;
              }


h3 {

    font-size: 2rem;
    font-family: "Judson", serif;
  padding-top: 0.5em;
  padding-bottom: 0.5rem;
}

a:hover{
    background-color: rgb(252, 246, 246);
    border-bottom: 0px !important;
    box-shadow: inset 0 0px 0 #4fb93a;


}

body {
    font-family: "Open Sans", sans-serif;
    margin-bottom: 10%;
    font-size: 33;
  }

  p{


    font-family: "Open Sans", sans-serif
  }
  ul {
    list-style: square outside none;
    font-size: 18px;
    line-height: 1.6;
   
  }